@model OrdersManagement.Models.OrderViewModel

@{
    ViewData["Title"] = "Order List";
}

<h1>Order List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Order" asp-action="Index" method="get">
    <p>
        Customer Select by ID:
        <select asp-for="CustomerId" asp-items="Model.CustomerIds">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].EstimateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Orders) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimateDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
